:root {    
    --color-text: #333;
    --color-placeholder: #0000007A;
    --color-border-input: rgba(0, 0, 0, 0.16);
    --color-bg-profile: #D5E4F7;
    --bg-input: rgba(0, 0, 0, 0.04);
    --bg-btn-color: #5558FA;
    --color-link: #5558FA;
    --color-dark-blue: #212830;
    --white: #fff;
    --bg-page: #F4F4F5;
    --color-separtor: #00000014;
    --color-error: #f97474;
    --color-gray: #666666;

    --z-index-color-progress: 5;
    --z-index-dots: 10;
}