.container {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
}

.firstInputContainer {
    max-width: 300px;
}

.inputContainer {
    margin-top: 48px;
    max-width: 300px;
}

.input {
    background: var(--white);
}

.selectContainer {
    margin-top: 48px;
}

.actionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
}